.App {
  text-align: center;
}

h2{
  color: white;
}

button:hover{
  background-color: red;
}

body{
  background-color: #282c34;
}

ul{
  padding:0;
}

li{
  color: white;
  list-style: none;
}

li:hover{
  color: rgba(255,255,255,.6);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
